DEBUG=true
SECRET_KEY=troque-esta-chave
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000
POSTGRES_DB=expedicao_piraiba
POSTGRES_USER=expedicao_piraiba
POSTGRES_PASSWORD=troque-esta-senha
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
